.grant-card {
    border: 1px solid #D2D2D2;
    padding: 20px;
    margin: 10px;
    width: 250px;
    transition: background-color 0.3s;
    position: relative;
    border-radius: 20px;
    font-family: "Arial Rounded MT Bold", Helvetica, sans-serif;
    font-size: 13px;
    color: #686868;
}

.grant-card:hover {
    border: 1px solid #F08865;
}

.grant-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-letter {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    color: #F08865;
    background-color: #F2F2F2;
    line-height: 40px;
    font-size: 20px;
}

.grant-btn-wrapper {
    display: flex;
    justify-content: space-between;
    width: 78px;
}

.grant-like-btn, .grant-dislike-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    background: white;
    cursor: pointer;
}

.grant-like-btn:hover, .grant-dislike-btn:hover {
    background: #e8e8e8;
}

.grant-like-btn img, .grant-dislike-btn img {
    width: 18px;
    height: 18px;
}

.grant-foundation-name {
    font-size: 12px;
    text-align: left;
    margin-top: 25px;
}

.grant-name {
    font-size: 18px;
    text-align: left;
    color: black;
    font-weight: bold;
}

.grant-amount-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grant-avg-amount, .grant-deadline-wrapper {
    background-color: #FFF2EF;
    width: 40%;
    height: 90px;
    border-radius: 15px;
    padding: 10px;
    text-align: left;
}

.grant-avg-amount {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grant-avg-amount img {
    width: 15px;
}

.grant-amount-value {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #F08865;
    font-size: 22px;
    margin-bottom: 3px;
}

.grant-amount-text {
    margin-bottom: 8px;
    color: black;
}

.grant-deadline-wrapper {
    background-color: #F6F6F6;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

}

.grant-deadline-title, .grant-deadline-value {
    font-size: 12px;
}

.grant-deadline-value {
    font-weight: bold;
}

.deadline-line-separator {
    border: none; /* Remove the default border */
    height: 1px;
    background-color: #D2D2D2;
}

.grant-deadline-apply-title, .grant-deadline-apply-value {
    text-align: center;
    font-size: 12px;
}

.grant-deadline-apply-value {
    font-weight: bold;
}

.location-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.location-wrapper p {
    margin-bottom: 5px;
}

.grant-location-value {
    font-weight: bold;
}

.grant-area-of-funding {
    text-align: left;
}

.grant-tags-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.grant-tag {
    display: inline-block;
    background-color: #F6F6F6;
    height: 30px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    color: #686868;
    line-height: 30px;
    font-size: 11px;
}

.grant-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.feedback-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.feedback-modal textarea {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

.feedback-modal button {
    width: 100%;
}
